.text-information{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p{
  color: #6c757d;
  background-color: #F8F9FA;
  border: 1px solid #c4d4d4;
  padding: 12px;
  border-radius: 4px;
}
